# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Log files
*.log

# IDE / Editor specific files
.vscode/
.idea/
.cursor/
*.iml

# Distribution / packaging
build/
dist/
*.egg-info/

# OS specific
.DS_Store

# Project specific
analysis.py;market_signals.py
btc_analysis_results.json 
node_modules/
state.json
scalp_history.json
node-v22.15.0-x64.msi
BTCUSDT-15m-2025-04-20.zip

